In [3]:
import pandas as pd
import numpy as np
from apyori import apriori

In [8]:
df= pd.read_excel('GroceryStoreDataSet.xlsx')
df.head()

     Tanggal                          Items
0 2021-04-02             MILK,BREAD,BISCUIT
1 2021-04-09  BREAD,MILK,BISCUIT,CORNFLAKES
2 2021-04-09            BREAD,TEA,BOURNVITA
3 2021-04-09           JAM,MAGGI,BREAD,MILK
4 2021-04-06              MAGGI,TEA,BISCUIT

In [9]:
# Membuang kolom Tanggal
data=df.drop(['Tanggal'],axis=1)

In [10]:
# Membuat list dalam list dari transaksi pembelian barang
records = []
for i in range(data.shape[0]):
    records.append([str(data.values[i,j]).split(',') for j in range(data.shape[1])])

trx = [[] for trx in range(len(records))]
for i in range(len(records)):
    for j in records[i][0]:
        trx[i].append(j)
trx

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [11]:
# Menggunakan fungsi apriori untuk membuat asosiasi
association_rules = apriori(trx, min_support=0.14, min_confidence=0.80,min_lift=1)
# Membuat list hasil dari algoritma apriori
association_results = association_rules

In [12]:
# Menampilkan hasil asosiasi dari item 
pd.set_option('max_colwidth', 1000)
Result=pd.DataFrame(columns=['Rule','Support','Confidence'])
for item in association_results:
    pair = item[2]
    for i in pair:
        items = str([x for x in i[0]])
        if i[3]!=1:
            Result=Result.append({
                'Rule':str([x for x in i[0]])+ " -> " +str([x for x in i[1]]),
                'Support':str(round(item[1]*100,2))+'%',
                'Confidence':str(round(i[2] *100,2))+'%'
                },ignore_index=True)
Result

                     Rule Support Confidence
0   ['MILK'] -> ['BREAD']   20.0%      80.0%
1  ['COCK'] -> ['COFFEE']   15.0%     100.0%
2    ['MAGGI'] -> ['TEA']   20.0%      80.0%